@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@100,300,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

body{
  padding: 10px;
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
  background-attachment: fixed;
}

section {
  position: relative;
  max-width: 100%;
  height: auto;
  justify-content: space-between;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo{
  margin-left: 30px;
  margin-top: 5px;
}

header ul li {
  list-style: none;
}

header ul li a {
  cursor:pointer;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  font-weight: 800;
  margin-right: 30px;
  margin-top: 5px;
}

@media (max-width:1520px)
{
  body{
    padding: 10px;
    background-image: url(../images/background2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center, center;
    background-attachment: fixed;
  }
}

@media (max-width:1390px)
{
  body{
    padding: 10px;
    background-image: url(../images/background3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center, center;
    background-attachment: fixed;
  }
}

@media (max-width:1220px)
{
  body{
    padding: 10px;
    background-image: url(../images/background4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center, center;
    background-attachment: fixed;
  }
}

@media (max-width:1120px)
{
  body{
    padding: 10px;
    background-image: url(../images/background5.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center, center;
    background-attachment: fixed;
  }
}

@media (max-width:1025px)
{
  body{
    padding: 10px;
    background-image: url(../images/background6.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
  }
}

@media (max-width: 580px) {
  body{
    padding: 10px;
    background-image: url(../images/background7.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
  }
}

@media (max-width: 365px) {

  
  header .logo {
    margin-left: 5px;
    margin-top: 5px;
  }
}

header ul li a {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  font-weight: 800;
  margin-right: 10px;
}